
<div *ngIf="tipoForm === 'new'" class="wrapper">
  <form class="form-signin" #formLogin="ngForm" (ngSubmit)="onSubmit()">       
    <h2 class="form-signin-heading">Please login</h2>
    <input type="text" ngModel  class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
    <input type="password" ngModel class="form-control" name="password" placeholder="Password" required=""/>      
    <label class="checkbox">
      <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
  </form>
</div>


<!-- <aside class="sidebar shadow-sm">
  <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
    <div class="picture-wrapper mb-4">
      <div class="user-picture m-auto">
        <img src="./assets/img/user.jpg" class="img-fluid" alt="">
      </div>
    </div>
    <div class="profile-details text-center pb-4">
      <p class="mb-0 text-uppercase name">Ahmed Amine</p>
      <small class="text-uppercase role">Web Developer</small>
    </div>
  </div>

  <div class="sidebar-search pt-1 pb-1 pl-3 pr-3">
    <input type="search" class="form-control rounded-pill" name="search" placeholder="Search ...">
  </div>
</aside> -->
